{% for type, messages in app.flashes(['success', 'info']) %}
    {% for message in messages %}
        <div class="flash-message flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}