<nav>
    <h1><a href="{{ path('app_home') }}">Simple Blog</a></h1>
    <ul>
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_register') }}">Register</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>